html {
  background-color: #052c42;
}

h1 {
  font-family: Raleway, sans-serif;
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: 20px;
  visibility: hidden;
}

div {
  display: inline-block;
  text-align: center;
}

.box-1 {
  background-color: #052c42;
  margin: 0;
  overflow: hidden;
}

.fontone {
  font-family: "Open Sans", sans-serif;
  color: #131833;
  position: relative;
  letter-spacing: 10px;
}

.fonttwo {
  display: block;
  font-family: Raleway, sans-serif;
  color: #f1f1f1;
  position: relative;
  letter-spacing: 40px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
